extends _master

append variables
    -var pageTitle = "استعادة الرقم السرى"
    -var pageName = "forgot-password"

block content
    .container-row: .row
        .col-lg-4.col-sm-12.left-side: .logo-box: img(src=logoPath, alt="Logo")
        
        .col-lg-6.col-sm-12.right-side
            h3 لوحة القادة لمؤشرات أداء مشاريع وكالة المشاريع و الصيانة

            h4 استعادة الرقم السرى

            .form-group
                label(for="email") البريد اﻷلكترونى
                input(type="email" class="form-control" id="email")
        
            .form-group
                button(class="btn btn-primary" type="submit") أستعادة




