nav.page-header: .container-fluid
    .row
        .col-lg-8.col-md-12.text-right
            .right-bookmark: p #{pageNumber}
            .page-data-content 
                h3 #{pageHeader}
                p 
                    | #{pageDescription} 
                    span #{pageDescriptionColored}

    .row: .col-12: .hr