@import "./bootstrap.scss";
@import "./variables";
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: $primaryFontFamily;
    overflow-x: hidden;
}

// Common
@import "common";
// Header 
@import "./header";
// Login Page
@import "./login";
// Welcoe Page
@import "./welcome-page";
// Home Page
@import "./home";
// Page 5
@import "page-5";
// Page 6
@import "page-6";
// Page Header
@import "page-header";
// Table
@import "table";
// Users Table
@import "users-table";
// Media Query
@import "media-query";
// Vendors
@import "./owl.carousel.min";
@import "./owl.theme.default.min";