<html>
  <head>
    <title>jsPDF</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="{{@BASE}}/ui/js/jspdf.min.js"></script>
  </head>
  <body>
    <button onclick="generate()">Generate PDF</button>
    <div
      id="html-2-pdfwrapper"
      style="
        position: absolute;
        left: 20px;
        top: 50px;
        bottom: 0;
        overflow: auto;
        width: 600px;
      ">
      <table id="tbl" class="table table-hover">
        
          <tr>
            <th style="background-color: #928989; color; white;">No BPS</th>
            <th style="background-color: #928989; color; white;">
              Tanggal BPS
            </th>
            <th style="background-color: #928989; color; white;">
              Tanggal Input
            </th>
            <th style="background-color: #928989; color; white;">Status</th>
          </tr>
        
        <tbody>
        
          
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
                    
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
                    
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
                    
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
                    
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
                    
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
                    
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
                    
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
                    
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          <tr>
            <td>STUFFID2</td>
            <td>40</td>
            <td>SONY</td>
            <td>BREAK</td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <script>
      margins = {
        top: 70,
        bottom: 40,
        left: 30,
        width: 550,
      };
      generate = function () {
        var pdf = new jsPDF("p", "pt", "a4");
        pdf.setFontSize(18);
        pdf.fromHTML(
          document.getElementById("html-2-pdfwrapper"),
          margins.left, // x coord
          margins.top,
          {
            // y coord
            width: margins.width, // max width of content on PDF
          },
          function (dispose) {
            headerFooterFormatting(pdf, pdf.internal.getNumberOfPages());
          },
          margins
        );

        pdf.save("two-by-four.pdf");
      };
      function headerFooterFormatting(doc, totalPages) {
        for (var i = totalPages; i >= 1; i--) {
          doc.setPage(i);
          //header
          if (i == 1) {
            header(doc);
          }

          footer(doc, i, totalPages);
          doc.page++;
        }
      }
      function header(doc) {
        doc.setFontSize(30);
        doc.setTextColor(40);
        doc.setFontStyle("normal");

        doc.text("Report Header Template", margins.left + 50, 40);
        doc.setLineCap(2);
        doc.line(3, 70, margins.width + 43, 70); // horizontal line
      }

      function footer(doc, pageNumber, totalPages) {
        var str = "Page " + pageNumber + " of " + totalPages;

        doc.setFontSize(10);
        doc.text(str, margins.left, doc.internal.pageSize.height - 20);
      }
    </script>
  </body>
</html>
