<a  class="vanillatop"></a>
</div>
<div class="modal fade" id="proj27Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">اختار المقاول لعرض بياناته </h5>
            </div>

            <form method="post" action="">
                <div class="modal-body text-right">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <select class="  js-example-basic-single "  >
                                    <repeat group="{{ @contractors }}" key="{{ @ikey }}" value="{{ @contractor }}">
                                        <option value="{{@contractor['cont_id']}}">{{@contractor['cont_name']}}</option>
                                    </repeat>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-left">
                    <a  href="#" class="disabled btn btn-primary p-2 m-2"  type="submit">عرض</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="proj17Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">اختار المقاول لعرض بياناته</h5>
            </div>

            <form method="post" action="">
                <div class="modal-body text-right">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <select class="  js-example-basic-single "  >
                                    <repeat group="{{ @contractors }}" key="{{ @ikey }}" value="{{ @contractor }}">
                                        <option value="{{@contractor['cont_id']}}">{{@contractor['cont_name']}}</option>
                                    </repeat>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-left">
                    <a  href="#" class="disabled btn btn-primary p-2 m-2"  type="submit">عرض</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="proj37Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">اختار المقاول لعرض بياناته</h5>
            </div>

            <form method="post" action="">
                <div class="modal-body text-right">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <select class="  js-example-basic-single "  >
                                    <repeat group="{{ @contractors }}" key="{{ @ikey }}" value="{{ @contractor }}">
                                        <option value="{{@contractor['cont_id']}}">{{@contractor['cont_name']}}</option>
                                    </repeat>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-left">
                    <a  href="/projections/details/37" class=" btn btn-primary p-2 m-2"  type="submit">عرض</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="proj38Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">اختار المقاول لعرض بياناته</h5>
            </div>

            <form method="post" action="">
                <div class="modal-body text-right">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <select class="  js-example-basic-single "  >
                                    <repeat group="{{ @contractors }}" key="{{ @ikey }}" value="{{ @contractor }}">
                                        <option value="{{@contractor['cont_id']}}">{{@contractor['cont_name']}}</option>
                                    </repeat>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-left">
                    <a  href="/projections/details/39" class=" btn btn-primary p-2 m-2"  type="submit">عرض</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="proj39Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">اختار المقاول لعرض بياناته</h5>
            </div>

            <form method="post" action="">
                <div class="modal-body text-right">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <select class="  js-example-basic-single "  >
                                    <repeat group="{{ @contractors }}" key="{{ @ikey }}" value="{{ @contractor }}">
                                        <option value="{{@contractor['cont_id']}}">{{@contractor['cont_name']}}</option>
                                    </repeat>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-left">
                    <a  href="/projections/details/39" class=" btn btn-primary p-2 m-2"  type="submit">عرض</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script src="{{@BASE}}/ui2/js/popper.min.js"></script>
<script src="{{@BASE}}/ui2/js/bootstrap.min.js"></script>
<script src="{{@BASE}}/ui2/js/owl.carousel.min.js"></script>
<script src="{{@BASE}}/ui2/js/app.js"></script>
<script src="{{@BASE}}/ui2/js/jquery.multi-select.js"></script>
<script type="text/javascript" src="{{@BASE}}/ui2/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="{{@BASE}}/ui2/js/jquery.tablesorter.widgets.min.js"></script>
<script src="{{@BASE}}/ui2/js/vanillatop.min.js"></script>
<!--<script src="{{@BASE}}/ui2/js/moment-with-locales.min.js"></script>-->
<!--<script src="{{@BASE}}/ui2/js/moment-hijri.min.js"></script>-->
<!--<script src="{{@BASE}}/ui2/js/bootstrap-hijri-datetimepicker.js?v2"></script>-->
<script src="{{@BASE}}/ui2/js/ahmed-script.js"></script>
<script src="{{@BASE}}/ui2/js/printThis.js"></script>
<script src="{{@BASE}}/ui2/js/bootstrap.bundle.min.js"></script>
<!-- load jQuery and tablesorter scripts -->


<script type="text/javascript">
    // run pre selected options
    $('#kpis_kpis_check_all').change(function () {
        $('#kpis_kpis').multiSelect('select_all');
    });
    $('#kpis_kpis_uncheck_all').change(function () {
        $('#kpis_kpis').multiSelect('deselect_all');
    });
    $('#projections_prjs_check_all').change(function () {
        $('#projections_prjs').multiSelect('select_all');
    });
    $('#projections_prjs_uncheck_all').change(function () {
        $('#projections_prjs').multiSelect('deselect_all');
    });
    $('#reports_ids_check_all').change(function () {
        $('#reports_reps').multiSelect('select_all');
    });
    $('#reports_ids_uncheck_all').change(function () {
        $('#reports_reps').multiSelect('deselect_all');
    });
</script>
</html>